!!!
%html(lang="en")
  %head
    %title Geocollider
    %meta(charset="utf-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1")
    %link(rel="stylesheet" type="text/css" href="assets/app.css")
    %script(src='assets/app.js')
  %body
    %nav.navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          %a.navbar-brand(href='#') Geocollider
        #navbar.navbar-collapse.collapse
    .container(role="main")
      = yield
