%h1 File Upload
%p Uploaded file preview (raw data):
%pre
  %code(id='csv_preview')= @csv_preview
%p Uploaded file preview (pretty-printed):
%div#pretty_print
%br
%form(method="post" enctype='multipart/form-data' action='process')
  %input(type='hidden' name='csvfile' value=@uploaded_filename)
  Field separator:
  .radio
    %label
      %input(type='radio' id='radio_csv' name='separator' value='comma' checked)Comma (CSV)
  .radio
    %label
      %input(type='radio' id='radio_tsv' name='separator' value='tab')Tab (TSV)
  .checkbox
    %label
      %input(type='checkbox' name='headers' value='true' id='column_headers')First row contains column headers
  .form-group.form-inline
    %label(for='quote_char') Quote character:
    %input(type='text' name='quote_char' maxlength='1')
  %br
  .form-horizontal#column_specifiers
    .col-sm-4
    .col-sm-8
      %span If you have column headers, use column names. Otherwise, use column numbers starting from 0.
    .form-group
      %label.control-label.col-sm-4(for='lat') Column containing latitude:
      .col-sm-8
        %input(type='text' name='lat' class='form-control')
    .form-group
      %label.control-label.col-sm-4(for='lon') Column containing longitude:
      .col-sm-8
        %input(type='text' name='lon' class='form-control')
    .form-group
      %label.control-label.col-sm-4(for='id') Column containing identifier string:
      .col-sm-8
        %input(type='text' name='id' class='form-control')
    .form-group
      %label.control-label.col-sm-4(for='names') Column(s) containing names (comma-separated):
      .col-sm-8
        %input(type='text' name='names' class='form-control')
  Matching algorithm:
  .radio
    %label
      %input(type='radio' name='algorithm' value='place_name' checked)Name + Place matching
  .radio
    %label
      %input(type='radio' name='algorithm' value='name')Name-only matching
  .radio
    %label
      %input(type='radio' name='algorithm' value='place')Place-only matching
  String normalization:
  .checkbox
    %label.checkbox-inline
      %input(type='checkbox' name="normalize[]" value='whitespace' checked)Whitespace
    %label.checkbox-inline
      %input(type='checkbox' name="normalize[]" value='case' checked)Case
    %label.checkbox-inline
      %input(type='checkbox' name="normalize[]" value='accents' checked)Strip Accents
    %label.checkbox-inline
      %input(type='checkbox' name="normalize[]" value='punctuation' checked)Strip Punctuation
    %label.checkbox-inline
      %input(type='checkbox' name="normalize[]" value='nfc' checked)Convert to Unicode Normalized Form C
    %label.checkbox-inline
      %input(type='checkbox' name="normalize[]" value='latin')Transliterate to Latin Script
  .form-horizontal
    .form-group
      %label.control-label.col-sm-4(for='distance') Distance threshold for place matching (in kilometers):
      .col-sm-8
        %input(type='text' name='distance' class='form-control' value='8.0')
  %br
  %input.btn.btn-primary(type='submit' value='Process')
